@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #262626;
  position: relative;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#info-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 6px;
}

.info-label {
  display: block;
  line-height: 1.5;
}

#author-label a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
